.t-p1, .t-p2
  color: $colorMuted
  line-height: 1.55
  a
    display: inline-block
    cursor: pointer
    color: $colorOrange
    transition: color .25s $ease
    &:hover
      color: $colorBlue

.t-p1
  font-size: 18px

.t-p2
  font-size: 15px


.link-p2
  font-size: 15px
  display: inline-block
  cursor: pointer
  color: $colorOrange
  transition: color .25s $ease
  &:hover
    color: $colorBlue
