
/* headings
h1,h2,h3,h4,h5
  font-weight: normal
h1, .h1
  font-size: 50px
  font-weight: 500
  line-height: 1.25
  letter-spacing: -.046em
h2, .h2
  font-size: 40px
  font-weight: 500
  line-height: 1.2
  letter-spacing: -.04em
h3, .h3
  font-size: 23px
  font-weight: 500
  line-height: 1.2
  letter-spacing: -0.022em
h4, .h4
  font-weight: 500
  line-height: 1.2
  font-size: 18px

+r($mobile)
  h1, .h1
    font-size: 35px
  h2, .h2
    font-size: 26px
  h3, .h3
    font-size: 20px
  h4, .h4
    font-size: 16px


/* text paragraphs
.t-p1, .t-p2, .t-p3
  color: $colorMuted
  line-height: 1.55
  strong, b
    font-weight: 500
  a
    display: inline-block
    cursor: pointer
    line-height: 1
    color: $colorOrange
    border-bottom: 1px solid transparent
    transition: color .25s $ease, border .25s $ease
    &:hover
      color: $colorOrange2
      border-color: rgba($colorOrange2, .2)

.t-p1
  font-size: 18px

.t-p2
  font-size: 15px

.t-p3
  font-size: 13px

.t-label
  font-size: 10px
  line-height: 1
  color: $colorMuted
  text-transform: uppercase
  letter-spacing: 0.1em

+r($mobile)
  .t-p1
    font-size: 16px
  .t-p2
    font-size: 13px

/* Links
a
  color: inherit
  text-decoration: none
  &:hover, &:focus
    text-decoration: none

.link-p1, .link-p2, .link-p3
  display: inline-block
  line-height: 1
  cursor: pointer
  color: $colorOrange
  border-bottom: 1px solid transparent
  transition: color .25s $ease, border .25s $ease
  &:hover
    color: $colorOrange2
    border-color: rgba($colorOrange2, .2)

.link-p1
  font-size: 18px

.link-p2
  font-size: 15px

.link-p3
  font-size: 13px

+r($mobile)
  .link-p1
    font-size: 16px
  .link-p2
    font-size: 13px

/* colors
.c-white
  color: white
.c-orange
  color: $colorOrange
.c-green
  color: $colorGreen


/* List styles
ul
  list-style: none
  li
    display: inline-block


input, button
  font-family: $fontFamily
