
/* headings
h1,h2,h3,h4,h5
  font-weight: normal
h1, .h1
  font-size: 50px
  letter-spacing: -.022em
h2, .h2
  font-size: 40px
  letter-spacing: -.014em
h3, .h3
  font-size: 23px
  letter-spacing: -0.048em

h4, .h4
  font-size: 18px

/* colors
.c-orange
  color: $colorOrange

/* text paragraphs
.t-p1, .t-p2
  color: $colorMuted
  line-height: 1.55
  a
    display: inline-block
    cursor: pointer
    color: $colorOrange
    transition: color .25s $ease
    &:hover
      color: $colorBlue

.t-p1
  font-size: 18px

.t-p2
  font-size: 15px

/* Links
a
  color: inherit
  text-decoration: none
  &:hover, &:focus
    text-decoration: none

.link-p2
  font-size: 15px
  display: inline-block
  cursor: pointer
  color: $colorOrange
  transition: color .25s $ease
  &:hover
    color: $colorBlue


/* List styles
ul
  list-style: none
  li
    display: inline-block


input, button
  font-family: $fontFamily
