// HEADER :: START
header.header
  .container
    .header__wrapper.wow(data-animation-class="wowFadeDown")
      a(href="#").header__logo
        include ../../inline-svg/logo.svg
      ul.header__menu
        li
          a(href="#") Soluções
        li
          a(href="#") Peça uma demonstração
      
      ul.header__lang
        li
          a(href="#") EN
        li
          a(href="#") ES
        li.is-active
          a(href="#") PT
        
      .header__cta
        a(href="#").btn.btn-outline
          span acesse sua conta

      
      .header__hamburger
        .hamburger.hamburger--squeeze(js-hamburger)
          .hamburger-box
            .hamburger-inner
        
// HEADER :: END
