// HEADER :: START
header.header
  .container
    .header__wrapper.wow(data-animation-class="wowFadeDown")
      a(href="#").header__logo
        img(src='img/svg/logo.svg')
        //- include ../../inline-svg/logo.svg
      ul.header__menu
        li
          a(js-toggle-menu data-target-menu="solutions" href="#") Soluções
        li
          a(href="#") Peça uma demonstração
      
      ul.header__lang(js-teleport data-teleport-to="header-lang" data-teleport-condition="<992")
        li
          a(href="#") EN
        li
          a(href="#") ES
        li.is-active
          a(href="#") PT
        
      .header__cta
        a(href="#").btn.btn-outline
          span acesse sua conta

      
      .header__hamburger
        .hamburger.hamburger--squeeze(js-toggle-menu data-target-menu="solutions")
          .hamburger-box
            .hamburger-inner
        
// HEADER :: END


// MENU
.menu(data-menu="solutions").is-active
  .menu__wrapper
    .menu__close(js-close-menu)
      +icon('ico-close')
    .menu__nav(js-layout-padding data-type="container-left" data-stop="<860")
      ul.menu__nav-list
        li
          a(href="#")
            span Digital Fraud Discovery
            p.t-p3 Identifique e remova ataques de phishing e malware
        li
          a(href="#")
            span Sales Abuse Discovery
            p.t-p3 Previna pirataria ou vendas não autorizadas em canais digitais
        li
          a(href="#")
            span Data Leakage Discovery
            p.t-p3 Monitore possíveis vazamentos de dados para agir rápido

        li
          a(href="#")
            span Digital Marketing Compliance
            p.t-p3 Certifique-se de que ninguém está usando sua marca sem autorização
        li
          a(href="#")
            span Partner Compliance
            p.t-p3 identifique parceiros usando sua marca indevidamente
        li
          a(href="#")
            span Threat Intelligence
            p.t-p3 Escaneie a deep web atrás de ataques, golpes e ameaças
    
    .menu__sidebar
      .menu__sidebar-wrapper(js-layout-padding data-type="container-right" data-stop="<860")
        p.t-p1 Credential Protection
        .menu__sidebar-links
          a.link-p3(href="#") Hashcast™ Proteção de senha
          a.link-p3(href="#") Leakstream
        ul.menu__lang.header__lang(data-teleport-target="header-lang")
          
