// SERVICE NUMBERS
.service-num
  .container.container--narrow
    .service-num__wrapper
      .service-num__col
        .service-num__el.wow(data-animation-delay=".1s")
          .service-num__title 36 <span>horas</span>
          p.t-p2 da detecção até a correção da ameaça, em média
              
      .service-num__col
        .service-num__el.wow(data-animation-delay=".2s")
          .service-num__title 99,17 <span>%</span>
          p.t-p2 das ameaças removidas com sucesso
            
      .service-num__col
        .service-num__el.wow(data-animation-delay=".3s")
          .service-num__title 88 <span>%</span>
          p.t-p2 dos casos resolvidos <br>em até 2 notificações
            
      
    .service-num__bg-image
      img(src='img/svg/serviceNumbersBg-oval.svg')
