// FUNCTIONS
.functions
  .functions__wrapper
    .functions__content(js-layout-padding data-type="container-left" data-stop="<992")
      h2.wow Como funciona nosso monitoramento
      .functions__list
        ul.list-num
          li.wow
            h4 Defina o que é importante
            p.t-p2 A partir da sua estratégia, selecione quais riscos mais ameaçam sua presença digital. Assim, nossa tecnologia se concentra no que é mais relevante para sua marca e identifica riscos mais rápido.
          li.wow
            h4 Monitore todos os canais digitais
            p.t-p2 Com as prioridades definidas, usamos Inteligência Artificial para monitorar todos os canais em busca de ameaças. Seja em sites, aplicativos, redes sociais, e-mails, canais de vendas e até na deep web, não deixamos nada escapar.
          li.wow
            h4 Remova os riscos para sua marca
            p.t-p2 Com as ameaças identificadas, trabalhamos para remover todo conteúdo que esteja indevidamente associado a ela. Para isso, você escolhe entre o Takedown Assistido ou o OneShot, nossa ferramenta de takedown automático.
            
        
    // image on the right      
    .functions__image.wow(data-animation-delay=".3s")
      +img('functionsImage')
