// FAQ
.faq
  .container.container--770
    // section heading
    .section-heading.section-heading--centered.wow
      h2 Perguntas frequentes
      p.t-p2 Ainda ficou com alguma dúvida?Veja as respostas que preparamos para ajudar você.
    
    .faq__wrapper
      // panel
      .faq__panel.is-active
        .faq__heading(js-faq-toggler)
          .faq__name
            h3 How does Axur keep my data secure?
            span.faq__tag.faq__tag--popular Popular
            
        .faq__content
          p.t-p2 Axur publishes and strictly adheres to a <a href="#">privacy policy</a> aimed at protecting all parties that interact with our service. Our Privacy Policy explicitly details the information we may collect about you, and how we will use that information.
          p.t-p2 Furthermore, Axur strictly adheres to a data minimization policy by which logs are automatically deleted after 14 days (see Recorded Future’s privacy policy for more information).

      // panel
      .faq__panel
        .faq__heading(js-faq-toggler)
          .faq__name
            h3 Does Axure encrypt customer data?
            span.faq__tag.faq__tag--popular Popular
            
        .faq__content
          p.t-p2 Axur publishes and strictly adheres to a <a href="#">privacy policy</a> aimed at protecting all parties that interact with our service. Our Privacy Policy explicitly details the information we may collect about you, and how we will use that information.

      // panel
      .faq__panel
        .faq__heading(js-faq-toggler)
          .faq__name
            h3 What customer information does Axur store?

        .faq__content
          p.t-p2 Axur publishes and strictly adheres to a <a href="#">privacy policy</a> aimed at protecting all parties that interact with our service. Our Privacy Policy explicitly details the information we may collect about you, and how we will use that information.

    .faq__info
      p.t-p2 Sua pergunta não está aqui? <a href="#">Acesse nosso FAQ completo</a>
