// FUNCTIONS
.functions
  .functions__wrapper
    .functions__content(js-layout-padding data-type="container-left" data-stop="<992")
      h2.wow O que fazemos para combater riscos digitais
      .functions__tabs
        // panel
        .panel.panel--smaller.is-active.wow
          .panel__heading(js-faq-toggler)
            .panel__name
              h4 Identificação
          .panel__content
            p.t-p2 Quando identificamos um site malicioso, nossa plataforma dispara um alerta aos principais provedores de internet. Eles, então, publicam um aviso que impede as pessoas de acessarem diretamente o site suspeito. Assim, reduzimos o impacto da ameaça antes mesmo de completar o takedown.
              
        // panel
        .panel.panel--smaller.wow
          .panel__heading(js-faq-toggler)
            .panel__name
              h4 Fraudcasting
          .panel__content
            p.t-p2 Quando identificamos um site malicioso, nossa plataforma dispara um alerta aos principais provedores de internet. Eles, então, publicam um aviso que impede as pessoas de acessarem diretamente o site suspeito. Assim, reduzimos o impacto da ameaça antes mesmo de completar o takedown.
        // panel
        .panel.panel--smaller.wow
          .panel__heading(js-faq-toggler)
            .panel__name
              h4 Abuse Inbox
          .panel__content
            p.t-p2 Quando identificamos um site malicioso, nossa plataforma dispara um alerta aos principais provedores de internet. Eles, então, publicam um aviso que impede as pessoas de acessarem diretamente o site suspeito. Assim, reduzimos o impacto da ameaça antes mesmo de completar o takedown.
        // panel
        .panel.panel--smaller.wow
          .panel__heading(js-faq-toggler)
            .panel__name
              h4 Quarentena
          .panel__content
            p.t-p2 Quando identificamos um site malicioso, nossa plataforma dispara um alerta aos principais provedores de internet. Eles, então, publicam um aviso que impede as pessoas de acessarem diretamente o site suspeito. Assim, reduzimos o impacto da ameaça antes mesmo de completar o takedown.

    // image on the right
    // data-animation-class="wowFadeRight"
    .functions__image.wow(data-animation-delay=".3s")
      +img('functionsImage')
