---
title: Data Leak
---
extends shared/_layout
block content
  
  // HERO
  .hero.hero--no-bg
    .hero__wrapper
      .hero__content(js-layout-padding data-type="container-left" data-stop="<992")
        .hero__content-wrapper.wow
          h1.hero__title Data Leakage <br>Discovery
          p.t-p1 Investigamos a internet atrás de qualquer sinal de <strong>vazamento de dados confidenciais.</strong> Assim, reduzimos o tempo de reação e evitamos o comprometimento de informações sensíveis da sua empresa.
          div(js-teleport data-teleport-to="hero-actionable" data-teleport-condition="<992")
            // signup form
            form(action="#" js-validate-signup).signup-form.hero__form
              .ui-input.ui-input--iconed
                input(type="text" name="email" placeholder="Seu e-mail corporativo…")
                +icon('ico-mail')
              button(type="submit").btn.btn-primary 
                span conheça a plataforma
              

      .hero__image.hero__image--for7.wow(data-animation-class="wowFadeRight")
        #include-anim-7
      .hero__actionable(data-teleport-target="hero-actionable")
      
  include components/_service-functions-list

  include components/_service-numbers

  // Featured product      
  .f-product.f-product--more-pad

    // featured product benefits
    .f-products-benefits
      .f-products-benefits__bg
        img(src='img/svg/featureProductBg-triangle.svg')
      .container
        .f-products-benefits__wrapper
          .f-products-benefits__left.f-products-benefits__left--wider.wow
            h2 As informações da sua marca merecem toda a segurança
          .f-products-benefits__right
            .f-products-benefits__list
              .f-products-benefits__col.wow
                h4 
                  span Saiba antes de todo mundo
                p.t-p2 Nossa plataforma monitora riscos constantemente, para você tomar as ações necessárias e proteger seus clientes. E tudo isso antes de o problema virar notícia.
                
              .f-products-benefits__col.wow
                h4 
                  span Churn sob controle
                p.t-p2 Dados sempre protegidos e um plano bem definido para resolver incidentes. Isso garante a segurança que seus clientes precisam para permanecer na sua base.
                
  
  // USE CASES
  .use-cases
    .container.container--narrow
      h2.wow O Data Leakage Discovery protege sua marca contra:
      .use-cases__wrapper.use-cases__wrapper--give-space-img
        // col
        .use-cases__col
          .use-case.wow(data-animation-delay=".1s")
            h3 Vazamento de informações
            p.t-p2 Quando dados confidenciais ou documentos da sua empresa são disponibilizados sem autorização na internet. Isso afeta a reputação da sua marca, já que passa uma imagem de vulnerabilidade dos seus sistemas de segurança.
            .label.label--blue saiba mais
            a(href="#").link-p2 Perfis falsos no Instagram? Evite páginas fake
        // col
        .use-cases__col
          .use-case.wow(data-animation-delay=".2s")
            h3 Divulgação de vulnerabilidades
            p.t-p2 Falhas de segurança, quando descobertas e divulgadas, afetam a credibilidade da sua marca. Usuários desconfiados não voltam a fazer negócios e fica muito mais difícil convencer novos clientes.
        // col
        .use-cases__col
          .use-case.wow(data-animation-delay=".3s")
            h3 Vazamento de dados de clientes 
            p.t-p2 A divulgação de dados confidenciais dos clientes da sua base pode ser desastrosa para a credibilidade da sua marca. Esse tipo de incidente deve ser corrigido o mais rápido possível para minimizar os danos à sua imagem.
  
        // image
        .use-cases__img.wow(data-animation-class="wowFadeRight")
          img(src='img/svg/useCases-img.svg')
  
  // PLANS
  .plans(js-plans-container)
    .container
      .plans__head.wow
        .t-label.c-orange data leakage discovery
        h2 Estimate your cost
        // is-active is for the label state
        .plans__switch
          .plans__switch-select(js-select-plan data-allowed="monthly;yearly")
            input(type="hidden" name="selected-plan" value="yearly")
            label Cobrança mensal
            .plans__switch-toggle.move-right
            label.is-active Cobrança anual
              .label.label--green 15% de desconto
          
    // slider
    .plans__slider
      .plans__slider-bg
        +img('plansBg')
      .plans__slider-container.container
        // col
        .plans__col.plans__col--single.wow
          .plan-card.plan-card--single
            .plan-card__col
              h3 Data Leakage Discovery
              ul.list-mark
                li Vazamento de dados sensíveis 
            .plan-card__col
              .plan-card__price
                .plan-card__price-num
                  span(
                    data-per-month="R$2.299"
                    data-per-year="R$1.999"
                  ) R$1.999
                  span /mês
                span usuários ilimitados
              .plan-card__cta
                a(href="#").btn.btn-primary.btn--block
                  span veja em ação

      .plans__slider-info.wow
        a(href="#").link-p2 Fale com um de nossos consultores    
                                                                  
                                                                  
  include components/_cta-product
  
  include components/_service-faq
