---
title: Homepage
---
extends shared/_layout
block content
  
  // HERO
  .hero
    .hero__wrapper
      .hero__content(js-layout-padding data-type="container-left" data-stop="<992")
        .hero__content-wrapper.wow
          h1.hero__title É possível ter uma <br/>
            | internet livre de <br/>
            span(js-typewriter data-type="perfis falsos;digital fraud;Sales Abuse;Partner Compliance;Threat Intelligence") perfis falsos
          p.t-p1 Usamos a força da Inteligência Artificial para encontrar e eliminar riscos para sua marca e seus clientes.
          div(js-teleport data-teleport-to="hero-actionable" data-teleport-condition="<992")
            // signup form
            form(action="#" js-validate-signup).signup-form.hero__form
              .ui-input.ui-input--iconed
                input(type="text" name="email" placeholder="Seu e-mail corporativo…")
                +icon('ico-mail')
              button(type="submit").btn.btn-primary 
                span conheça a plataforma
              
            a(data-mfp-src="https://www.youtube.com/watch?v=IJKjMIU55pE" js-popupVideo).hero__play
              +icon('ico-play')
              span 
                span Veja o que mais podemos fazer pela sua marca
          
      .hero__image.wow(data-animation-class="wowFadeRight")
        include ../inline-svg/animation-2.svg
        //- iframe(frameborder="0" src='inline-animations/animation-2/homepage.html')
      .hero__actionable(data-teleport-target="hero-actionable")
        // mobile contents
      
  // PUBLICATIONS PROMO
  .publ.wow
    .container
      .publ__wrapper
        .publ__image
          +img("computador2")
        .publ__content
          h3 Somos referência em segurança na web
          p.t-p2 A Axur é destaque em gestão de direitos digitais no relatório&nbsp;
            a(href="#" target="_blank") Forrester Wave 2018.
            
        .publ__cta
          a(href="#").btn.btn-outline
            span confira o relatório
  
  // PRODUCTS
  .products
    .products-bg__oval.wow(js-sticky-products-oval)
      img(src='img/svg/productGrid-oval.svg')
    .products-bg__triangle.wow(js-sticky-products-triangle)
      img(src='img/svg/productGrid-triangle.svg')

    .container
      // section heading
      .section-heading.wow
        h2 As soluções para proteger sua presença digital
        p.t-p2 Exploramos todo o potencial da inteligência artificial para oferecer proteção sob medida contra riscos digitais.
      
      .products__wrapper
        // info
        //.wow(data-animation-class="wowFadeLeft")
        .products__info
          .products__info-wrapper(js-stick-in-parent js-teleport data-teleport-to="products-info" data-teleport-condition="<860")
            +img("camRobot")
            p.t-p1 Não tem certeza de qual solução é a melhor para sua marca?
            a(href="#").btn.btn-primary 
              span descubra aqui
        
        .products__content
          .products__grid(js-diminish-hover-cards data-for-prodcuts-triangle)
            // col
            .products__col(js-teleport data-teleport-to="products-col-1" data-teleport-condition="<568")
              // card
              // data-for is for correct position of background oval
              a.products-card.wow(href="#" data-id="1" data-for-prodcuts-oval)
                h3 
                  span Digital Fraud <br>Discovery
                p.t-p2 Buscamos e removemos sites que usam sua marca em fraudes como phishing e infecção por malware.
                .link-p2 Saiba mais
                .products-card__price
                  span A PARTIR DE
                  .products-card__price-num
                    span R$1.499
                    span /mês
              // card
              a.products-card.wow(href="#" data-id="2")
                h3 
                  span Partner <br>Compliance
                p.t-p2 Analisamos as atividades dos seus parceiros, além de identificar quem finge ter ligação com sua marca.
                .link-p2 Saiba mais
                .products-card__price
                  span A PARTIR DE
                  .products-card__price-num
                    span R$1.499
                    span /mês
            
            // col
            .products__col(js-teleport data-teleport-to="products-col-2" data-teleport-condition="<568")
              // card
              a.products-card.wow(href="#" data-id="3")
                h3 
                  span Digital Marketing <br>Compliance
                p.t-p2 Procuramos apps falsos, perfis não oficiais e roubos de identidade que confundem seus clientes.
                .link-p2 Saiba mais
                .products-card__price
                  span A PARTIR DE
                  .products-card__price-num
                    span R$1.499
                    span /mês
              // card
              a.products-card.wow(href="#" data-id="4")
                h3 
                  span Data Leakage <br>Discovery
                p.t-p2 Monitoramos possíveis vazamentos de dados para agir rápido e reduzir o impacto do incidente.
                .link-p2 Saiba mais
                .products-card__price
                  span A PARTIR DE
                  .products-card__price-num
                    span R$1.999
                    span /mês
            
            // col
            .products__col(js-teleport data-teleport-to="products-col-3" data-teleport-condition="<568")
              // card
              a.products-card.wow(href="#" data-id="5")
                h3 
                  span Sales Abuse <br>Discovery
                p.t-p2 Descobrimos e tiramos do ar vendas ilegais ou produtos piratas, que prejudicam sua imagem e seus resultados.
                .link-p2 Saiba mais
                .products-card__price
                  span A PARTIR DE
                  .products-card__price-num
                    span R$1.499
                    span /mês
              // card
              a.products-card.wow(href="#" data-id="6")
                h3 
                  span Threat <br>Intelligence
                p.t-p2 Escaneamos a deep web atrás de ataques, golpes e esquemas que ameaçam sua marca e seus clientes. 
                .link-p2 Saiba mais
                .products-card__price
                  span A PARTIR DE
                  .products-card__price-num
                    span R$1.499
                    span /mês
          
          // mobile grid (swipable)
          .products__grid.products__grid--mobile(js-products-slider-mobile).swiper-containter
            .swiper-wrapper
              .products__col-swiper(data-teleport-target="products-col-1")
              .products__col-swiper(data-teleport-target="products-col-2")
              .products__col-swiper(data-teleport-target="products-col-3")
                      
          .products__info.products__info--mobile(data-teleport-target="products-info")
          
          .products__benefits
            .products__col
              // card
              .products-card.products-card--no-bg.wow
                h4
                  span Takedown rápido <br>e em qualquer lugar
                p.t-p2 Nossa exeperiência e tecnologia garantem velocidade de reação para proteger a reputação da sua marca.
            .products__col
              // card
              .products-card.products-card--no-bg.wow(data-animation-delay=".1s")
                h4
                  span Suporte em todas<br> as fases do projeto
                p.t-p2 Nossa equipe pode oferecer apoio adicional, do onboarding até o acompanhamento técnico.
            .products__col
              // card
              .products-card.products-card--no-bg.wow(data-animation-delay=".2s")
                h4
                  span Proteção para <br>executivos
                p.t-p2 Temos uma extensão que garante proteção extra para os dados dos executivos da sua empresa.

  // HOW IT WORKS
  .how
    .container
      .section-heading.wow
        h2 Monitoramos todas as camadas da web, 24h por dia
      
      .how__wrapper
        .how__image
          .how__image-wrapper(js-stick-in-parent js-teleport data-teleport-to="how-image" data-teleport-condition="<860")
            .svg-animation-container(js-animation-1)
              include ../inline-svg/animation-1.svg
            //- iframe(frameborder="0" src='inline-animations/animation-1/demo.html')
          
        .how__content
          .how__section.wow
            .how__facts-grid
              .how__fact
                .h2.c-orange +1.2 bi
                p.t-p2 Páginas e mensagens identificadas por mês pelos nossos coletores.
              .how__fact
                .h2.c-orange +210 mi
                p.t-p2 Domínios brasileiros ou em unicode analisados, em mais de 500 extensões diferentes.
              .how__fact
                .h2.c-orange +180 mi
                p.t-p2 Posts analisados automaticamente através de algorítimos especializados.
              .how__fact
                .h2.c-orange +44 mi
                p.t-p2 SMS analisados automaticamente através de algorítimos especializados.
          
          .how__image.how__image--mobile(data-teleport-target="how-image")
          
          .how__section.wow
            h2 Tudo isso com o poder da Inteligência Artificial
            p.t-p2 Para acompanhar a evolução das fraudes na web, combinamos Inteligência Artificial com as possibilidades infinitas do machine learning. Assim, nossos sistemas aprendem não só a detectar ameaças, mas a identificar mudanças na forma como elas são executadas.
            
          .how__section.wow
            h2 Resultado: detecção e remoção com rapidez
            .how__results-grid
              .how__result
                .h3.c-green 36 horas
                p.t-p2 da detecção à remoção, em média
              .how__result
                .h3.c-green 88%
                p.t-p2 dos casos resolvidos em até 2 notificações
              .how__result
                .h3.c-green 85%
                p.t-p2 de sucesso na eliminação dos riscos
  
  // FEATURES
  .features
    .container
      .container.container--narrow.container--no-pad
        .features__wrapper
          .features__col
            .features-card.wow
              h3 
                span Registro de evidências
              p.t-p2 Nossa plataforma armazena e organiza toda a informação relacionada aos incidentes. Assim fica mais fácil reunir os dados necessários para uma investigação ou processo jurídico.
          .features__col  
            .features-card.wow(data-animation-delay=".1s")
              h3 
                span Visibilidade total
              p.t-p2 Saiba tudo o que pode colocar em risco a reputação da sua marca. Apresentamos dados em tempo real para que sua equipe esteja sempre informada sobre incidentes ou ameaças em potencial.
          .features__col
            .features-card.wow(data-animation-delay=".2s")
              h3 
                span Alertas no seu celular
              p.t-p2 Receba notificações sobre incidentes direto no seu celular. Nossa plataforma envia um alerta sempre que identificar uma ameaça e você pode agir em tempo real.
      
    .features__image.wow
      .container
        .features__image-wrapper
          +img("features-img")
  
  // INTEGRATIONS
  .integrations
    .container.container--narrow
      .integrations__wrapper
        .integrations__title.wow
          h3 Com as nossas integrações, nenhum alerta vai passar despercebido
        
        .integrations__logos-grid
          .integrations__logo.integrations__logo--slack.wow(data-animation-delay=".1s")
            +img("connectwith-slack")
          .integrations__logo.integrations__logo--arcsight.wow(data-animation-delay=".15s")
            +img("connectwith-arcsight")
          .integrations__logo.integrations__logo--splunk.wow(data-animation-delay=".2s")
            +img("connectwith-splunk")
          .integrations__logo.integrations__logo--radar.wow(data-animation-delay=".25s")
            +img("connectwith-radar")
  
  // Testimonials
  .testimonials
    .container
      .holder
        .testimonials__head.wow
          .testimonials__title
            h2 Acompanhamos o dia a dia de centenas de empresas ao redor do mundo
            
          .testimonials__head-image
            img(src='img/svg/testimonialsBg-oval.svg')

      .testimonials__wrapper.wow
        .testimonials__slider.swiper-container(js-testimonials-slider)
          .swiper-wrapper
            // card
            .testimonials-card
              .testimonials-card__quotemark
                +icon('ico-quotemark')
                .testimonials-card__content
                  p.t-p1 A Axur possui profissinais de elevado conhecimento que estão comprometidos e engajados com os últimos assuntos relacionados à segurança e estabilidade de DNS em nível global.
                  .testimonials-card__author <span>Daniel Fink</span>, Engagement Sr Manager
                  a(href="#" target="_blank").testimonials-card__link www.icann.org
                  .testimonials-card__logo
                    +img("logo-icann")
            // card
            .testimonials-card
              .testimonials-card__quotemark
                +icon('ico-quotemark')
                .testimonials-card__content
                  p.t-p1 A Axur vem participando do trabalho colaborativo da indústria através de esforços de seu Gerente de Engajamento com a Comunidade e Relacionamento Fabricio Pessôa, que vem fazendo a diferença ajudando a unir a indústria em questões importantes relacionadas ao abuso na web.
                  .testimonials-card__author <span>Sara Roper<span/>, Vice Chair Person
                  a(href="#" target="_blank").testimonials-card__link M3AAWG
                  .testimonials-card__logo
                    +img("logo-M3AAWG")
                    
            // card
            .testimonials-card
              .testimonials-card__quotemark
                +icon('ico-quotemark')
                .testimonials-card__content
                  p.t-p1 A Axur possui profissinais de elevado conhecimento que estão comprometidos e engajados com os últimos assuntos relacionados à segurança e estabilidade de DNS em nível global.
                  .testimonials-card__author <span>Daniel Fink</span>, Engagement Sr Manager
                  a(href="#" target="_blank").testimonials-card__link www.icann.org
                  .testimonials-card__logo
                    +img("logo-marisa")
            // card
            .testimonials-card
              .testimonials-card__quotemark
                +icon('ico-quotemark')
                .testimonials-card__content
                  p.t-p1 A Axur vem participando do trabalho colaborativo da indústria através de esforços de seu Gerente de Engajamento com a Comunidade e Relacionamento Fabricio Pessôa, que vem fazendo a diferença ajudando a unir a indústria em questões importantes relacionadas ao abuso na web.
                  .testimonials-card__author <span>Sara Roper<span/>, Vice Chair Person
                  a(href="#" target="_blank").testimonials-card__link M3AAWG
                  .testimonials-card__logo
                    +img("logo-mercado")
            
            // card
            .testimonials-card
              .testimonials-card__quotemark
                +icon('ico-quotemark')
                .testimonials-card__content
                  p.t-p1 A Axur vem participando do trabalho colaborativo da indústria através de esforços de seu Gerente de Engajamento com a Comunidade e Relacionamento Fabricio Pessôa, que vem fazendo a diferença ajudando a unir a indústria em questões importantes relacionadas ao abuso na web.
                  .testimonials-card__author <span>Sara Roper<span/>, Vice Chair Person
                  a(href="#" target="_blank").testimonials-card__link M3AAWG
                  .testimonials-card__logo
                    +img("logo-foxbit")
    
            // card
            .testimonials-card
              .testimonials-card__quotemark
                +icon('ico-quotemark')
                .testimonials-card__content
                  p.t-p1 A Axur vem participando do trabalho colaborativo da indústria através de esforços de seu Gerente de Engajamento com a Comunidade e Relacionamento Fabricio Pessôa, que vem fazendo a diferença ajudando a unir a indústria em questões importantes relacionadas ao abuso na web.
                  .testimonials-card__author <span>Sara Roper<span/>, Vice Chair Person
                  a(href="#" target="_blank").testimonials-card__link M3AAWG
                  .testimonials-card__logo
                    +img("logo-rico")
            // card
            .testimonials-card
              .testimonials-card__quotemark
                +icon('ico-quotemark')
                .testimonials-card__content
                  p.t-p1 A Axur vem participando do trabalho colaborativo da indústria através de esforços de seu Gerente de Engajamento com a Comunidade e Relacionamento Fabricio Pessôa, que vem fazendo a diferença ajudando a unir a indústria em questões importantes relacionadas ao abuso na web.
                  .testimonials-card__author <span>Sara Roper<span/>, Vice Chair Person
                  a(href="#" target="_blank").testimonials-card__link M3AAWG
                  .testimonials-card__logo
                    +img("logo-ferratum")      
            
            // card
            .testimonials-card
              .testimonials-card__quotemark
                +icon('ico-quotemark')
                .testimonials-card__content
                  p.t-p1 A Axur vem participando do trabalho colaborativo da indústria através de esforços de seu Gerente de Engajamento com a Comunidade e Relacionamento Fabricio Pessôa, que vem fazendo a diferença ajudando a unir a indústria em questões importantes relacionadas ao abuso na web.
                  .testimonials-card__author <span>Sara Roper<span/>, Vice Chair Person
                  a(href="#" target="_blank").testimonials-card__link M3AAWG
                  .testimonials-card__logo
                    +img("logo-spc")
      
      .holder              
        .testimonials__logos-grid
          .testimonials__logo.wow(data-animation-delay=".1s")
            +img("logo-marisa")
          .testimonials__logo.wow(data-animation-delay=".15s")
            +img("logo-mercado")
          .testimonials__logo.wow(data-animation-delay=".2s")
            +img("logo-foxbit")
          .testimonials__logo.wow(data-animation-delay=".25s")
            +img("logo-sorocred")
          .testimonials__logo.wow(data-animation-delay=".3s")
            +img("logo-rico")
          .testimonials__logo.wow(data-animation-delay=".35s")
            +img("logo-ferratum")
          .testimonials__logo.wow(data-animation-delay=".4s")
            +img("logo-spc")
    
  // CTA
  .cta.wow
    .container
      .cta__wrapper
        h3 Escolha uma internet mais segura para sua marca e seus clientes
        
        // signup form
        form(action="#" js-validate-signup).signup-form.cta__form
          .ui-input.ui-input--iconed
            input(type="text" name="email" placeholder="Seu e-mail corporativo…")
            +icon('ico-mail')
          button(type="submit").btn.btn-primary 
            span conheça a plataforma
  
  // BLOG
  .blog
    .blog__bg
      img(src='img/svg/blogBg-triangle.svg')
    .blog__wrapper
      .blog__heading(js-layout-padding data-type="container-left" data-stop="<860").wow
        .blog__heading-wrapper
          p.t-label dicas de segurança
          h2 Informação é a principal arma contra as ameaças na internet
          a(href="#" target="_blank").btn.btn-outline acesse o blog

      .blog__content.wow

        .blog__slider(js-blog-slider).swiper-container
          .swiper-wrapper
            // slides will be populated here with WP Json API
            //- // slide
            //- .blog__slide
            //-   .blog-card
            //-     .blog-card__image
            //-       +img("blogPost-1")
            //-     .blog-card__title.t-p1.c-orange Vazamentos de senha: como acontecem e dicas para se proteger
            //-     .blog-card__date.t-p3 20th March 2018

          // nav elements
          .blog__nav
            // handled by swiper API
            .blog__nav-fraction
            // custom swiper API
            .blog__progress
              .blog__progress-fill(js-set-swiper-progress)
                
            .blog__navigation
              .blog__navigation-prev
                +icon('ico-nav-arrow-left')
              .blog__navigation-next
                +icon('ico-nav-arrow-right')
