---
title: Homepage title
bodyClass: homepage
---
extends shared/_layout
block content
  
  // HERO
  .hero
    .container
      .hero__wrapper
        .hero__content.wow
          h1.hero__title É possível ter uma <br/>
            | internet livre de <br/>
            span(js-typewriter data-type="perfis falsos;digital fraud;Sales Abuse") perfis falsos
          p.t-p1 Usamos a força da Inteligência Artificial para encontrar e eliminar riscos para sua marca e seus clientes.
          // signup form
          form(action="#" js-validate-signup).signup-form.hero__form
            .ui-input.ui-input--iconed
              input(type="text" name="email" placeholder="Seu e-mail corporativo…")
              +icon('ico-mail')
            button(type="submit").btn.btn-primary Ask for a demo
          
          a(href="#").hero__play
            +icon('ico-play')
            span Veja o que mais podemos fazer pela sua marca
          
        .hero__image.wow
          iframe(frameborder="0" src='inline-animations/animation-2/homepage.html')
          
  // PUBLICATIONS
  .publ.wow
    .container
      .publ__wrapper
        .publ__image
          +img("computador2")
        .publ__content
          h3 Somos referência em segurança na web
          p.t-p2 A Axur é destaque em gestão de direitos digitais no relatório
            a(href="#" target="_blank") Forrester Wave 2018.
            
        .publ__cta
          a(href="#").btn.btn-outline
            span confira o relatório
