---
title: Threat Discovery
---
extends shared/_layout
block content
  
  // HERO
  .hero.hero--no-bg
    .hero__wrapper
      .hero__content(js-layout-padding data-type="container-left" data-stop="<992")
        .hero__content-wrapper.wow
          h1.hero__title Threat Intelligence<br> Discovery
          p.t-p1 Escaneamos a <strong>deep web</strong> atrás de indícios de venda de bancos de dados e cartões de crédito, serviços ilegais e planejamento de ataques. Usamos Inteligência Artificial para acelerar a análise e dminuir ao máximo o tempo de reação quando uma ameaça é identificada.
          div(js-teleport data-teleport-to="hero-actionable" data-teleport-condition="<992")
            // signup form
            form(action="#" js-validate-signup).signup-form.hero__form
              .ui-input.ui-input--iconed
                input(type="text" name="email" placeholder="Seu e-mail corporativo…")
                +icon('ico-mail')
              button(type="submit").btn.btn-primary 
                span conheça a plataforma
              

      .hero__image.hero__image--for8.wow(data-animation-class="wowFadeRight")
        #include-anim-8
      .hero__actionable(data-teleport-target="hero-actionable")
      
  include components/_service-functions-list
  
  include components/_service-numbers
  
  // Featured product
  .f-product.f-product--more-pad

    // featured product benefits
    .f-products-benefits
      .f-products-benefits__bg
        img(src='img/svg/featureProductBg-triangle.svg')
      .container
        .f-products-benefits__wrapper
          .f-products-benefits__left.f-products-benefits__left--wider.wow
            h2 Vamos fundo para garantir sua segurança
          .f-products-benefits__right
            .f-products-benefits__list
              .f-products-benefits__col.wow
                h4 
                  span Saiba antes de todo mundo
                p.t-p2 Nossa plataforma monitora riscos constantemente, para você tomar as ações necessárias e proteger seus clientes. E tudo isso antes de o problema virar notícia.
                
              .f-products-benefits__col.wow
                h4 
                  span Churn sob controle
                p.t-p2 Dados sempre protegidos e um plano bem definido para resolver incidentes. Isso garante a segurança que seus clientes precisam para permanecer na sua base.
                
                
  // USE CASES
  .use-cases
    .use-cases__img.use-cases__img--mobile.wow(data-teleport-target="use-cases-img")
    .container.container--narrow
      h2.wow O Threat Intelligence Discovery protege sua marca contra:
      .use-cases__slider(js-usecases-slider)
        .use-cases__wrapper
          // col
          .use-cases__col
            .use-case.wow(data-animation-delay=".1s")
              h3 Contas fraudadas
              p.t-p2 De contas de e-commerce a contas bancárias, esquemas de phishing roubam suas informações para comercializá-las na deep web, com objetivo de tirar vantagem em fraudes.
              .label.label--blue saiba mais
              a(href="#").link-p2 Saiba tudo sobre ameaças da Deep Web
          // col
          .use-cases__col
            .use-case.wow(data-animation-delay=".2s")
              h3 Telas falsas para phishing
              p.t-p2 Comercialização de telas prontas que simulam páginas de grandes empresas, como bancos. Essas telas são usadas para enganar usuários em esquemas de phishing.
          // col
          .use-cases__col
            .use-case.wow(data-animation-delay=".3s")
              h3 Comércio de cartões de crédito
              p.t-p2 Números e senhas de cartões de crédito, roubados através de fraudes na internet, são vendidos para serem usados ilegalmente e sem o conhecimento dos seus donos.
          // col
          .use-cases__col
            .use-case.wow(data-animation-delay=".1s")
              h3 Pagamento de boletos e contas
              p.t-p2 Serviços de pagamento ilegais que usam dinheiro de contas roubadas. Em troca, quem utiliza o serviço repassa uma porcentagem do valor pago aos operadores do esquema.

          // col
          .use-cases__col
            .use-case.wow(data-animation-delay=".2s")
              h3 Aprovações de compras ilegais
              p.t-p2 Serviço ilegal que oferece na deep web contas roubadas para aprovação de compras. Isso é feito sem consentimento do dono da conta, que dificilmente desconfia que ela foi comprometida.
          // col
          .use-cases__col
            .use-case.wow(data-animation-delay=".3s")
              h3 Validação de contas e cc
              p.t-p2 Criação e disponibilização de softwares específicos para validar contas de e-commerce ou cartões de crédito roubados."
          // col
          .use-cases__col
            .use-case.wow(data-animation-delay=".3s")
              h3 Acessos não autorizados a sistemas
              p.t-p2 Uso de senhas roubadas ou exploração de falhas de segurança e vulnerabilidades para acessar sem autorização sistemas de empresas.

          // image
          .use-cases__img.wow(data-animation-class="wowFadeRight" js-teleport data-teleport-condition="<992" data-teleport-to="use-cases-img")
            img(src='img/svg/useCases-img.svg')
    
        .swiper-nav.swiper-nav--orange
          // handled by swiper API
          .swiper-nav__fraction
          // custom swiper API
          .swiper-nav__progress
            .swiper-nav__progress-fill(js-set-usecases-progress)
                    
  // PLANS
  .plans(js-plans-container)
    .container
      .plans__head.wow
        .t-label.c-orange Threat Intelligence Discovery
        h2 Estimate your cost
        // is-active is for the label state
        .plans__switch
          .plans__switch-select(js-select-plan data-allowed="monthly;yearly")
            input(type="hidden" name="selected-plan" value="yearly")
            label Cobrança mensal
            .plans__switch-toggle.move-right
            label.is-active Cobrança anual
              .label.label--green 15% de desconto
          
    // slider
    .plans__slider
      .plans__slider-bg
        +img('plansBg')
      .plans__slider-container.plans__slider-container--single.container
        // col
        .plans__col.plans__col--single.wow
          .plan-card.plan-card--single
            .plan-card__col
              h3 Threat Intelligence Discovery
              ul.list-mark
                li Escaneamento de ameaças da deep wep
            .plan-card__col
              .plan-card__price
                .plan-card__price-num
                  span(
                    data-per-month="R$2.299"
                    data-per-year="R$1.999"
                  ) R$1.999
                  span /mês
                span usuários ilimitados
              .plan-card__cta
                a(href="#").btn.btn-primary.btn--block
                  span veja em ação

      .plans__slider-info.wow
        a(href="#").link-p2 Fale com um de nossos consultores    
                                                
                                                          
  include components/_cta-product
  
  include components/_service-faq
