- var svgSprite = 'img/sprite.svg'

mixin icon(name, modClass)
  if modClass == undefined
    - var modClass = ''
  else
    - var modClass = ' ' + modClass
  svg(class="ico " + name + modClass)
    use(xlink:href= svgSprite + '#' + name)

mixin img(name)
  img(src='img/'+name+'.png' srcset='img/'+name+'@2x.png 2x')
