.blog
  position: relative
  padding: 100px 0 100px 0
  background: #FAFAFA
  // overflow: hidden
  &__wrapper
    display: flex
    // align-items: center

  &__heading
    flex: 0 1 48%
    max-width: 48%
    min-width: 1px
    // padding-right: 30px
    &-wrapper
      margin-left: 80px
      padding-top: 50px
    h2
      line-height: .9
      margin-bottom: 1.8em

  &__content
    position: relative
    flex: 0 1 52%
    max-width: 52%
    min-width: 1px
    // padding-left: 15px

  &__slider
    padding-left: 30px
    // .swiper-wrapper
    &::before
      display: inline-block
      content: ' '
      position: absolute
      bottom: -30px
      top: -30px
      left: -50px
      z-index: 2
      width: 100px
      background: #FAFAFA
      pointer-events: none
      filter: blur(10px)

  &__slide
    flex: 0 0 400px
    padding: 40px 15px 20px
    display: flex
    flex-direction: column

  &__bg
    font-size: 0
    position: absolute
    bottom: 0px
    /* because images are smaller than in design
    right: -70px

  &__nav
    max-width: 500px
    margin-left: auto
    display: flex
    align-items: center
    justify-content: flex-end
    padding-right: 50px
    padding-top: 20px
    color: white

    &-fraction
      flex: 0 0 auto
      width: auto
      font-size: 15px
      color: white

  &__progress
    flex: 1 1 auto
    position: relative
    background: rgba(white, .3)
    height: 1px
    margin: 0 40px
    width: 270px
    overflow: hidden
    &-fill
      display: inline-block
      position: absolute
      left: 0
      right: 0
      top: 0
      height: 1px
      background: white
      transition: transform .1s linear

  &__navigation
    flex: 0 0 auto
    display: flex
    align-items: center

  &__navigation-prev, &__navigation-next
    padding: 8px 12px
    cursor: pointer
    transition: .25s $ease
    .ico
      font-size: 12px

.blog-card
  flex: 1 0 auto
  display: flex
  flex-direction: column
  padding: 0 15px 25px
  background: white
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.05)
  border-radius: 4px
  transition: .25s $ease
  &:hover
    box-shadow: 0 15px 26px 0 rgba(0,0,0,0.1)
    .blog-card__image
      transform: translateY(-40px)
  &__image
    transform: translateY(-35px)
    text-align: center
    font-size: 0
    position: relative
    z-index: 1
    border-radius: 4px
    overflow: hidden
    background: lighten($colorLightGray,10%)
    min-height: 100px
    display: flex
    flex-direction: column
    transition: transform .25s $ease
    img
      /* make aspect ratio 1,2 ?
      width: 100%

  &__title
    margin-top: -8px
    padding-left: 10px
    padding-right: 10px
  &__date
    margin-top: auto
    padding-top: 10px
    padding-left: 10px
    padding-right: 10px

+r(1200)
  .blog
    &__slider
      &::before
        display: none
    &__heading
      &-wrapper
        margin-left: 30px
        margin-right: 30px
    &__bg
      right: -120px

+r($desktop)
  .blog
    padding: 80px 0
    &__heading
      &-wrapper
        margin-left: 0px
    &__bg
      right: -150px

+r(860)
  .blog
    &__wrapper
      display: block
    &__heading
      max-width: 100%
      padding-left: 50px
      padding-right: 50px
      &-wrapper
        padding-top: 0
      h2
        margin-bottom: 1em
    &__content
      max-width: 100%
    &__slider
      margin-top: 60px
      padding-left: 40px
    &__slide
      flex: 0 0 350px
      padding: 40px 10px 20px

+r($mobile)
  .blog
    &__heading
      padding-left: 30px
      padding-right: 30px
    &__slider
      padding-left: 25px
    &__slide
      flex: 0 0 310px
      padding: 40px 5px 20px
    &__nav
      padding-right: 0
      padding-left: 50px
    &__navigation
      display: none
    &__progress
      margin-right: 0
