.cta
  padding: 130px 0px 160px
  /* should be sticked to the left side
  background: white url('../img/ctaBg.png') no-repeat left bottom
  // > .container
  //   position: relative
  //   &::before
  //     display: inline-block
  //     content: ' '
  //     position: absolute
  //     z-index: 1
  //     left: 0
  //     top: 0
  //     background: white url('../img/ctaBg.png') no-repeat left bottom
  //     size: 420px 385px
  //     background-size: cover
  //     +retina
  //       background-image: url('../img/ctaBg@2x.png')

  &__wrapper
    position: relative
    z-index: 2
    background: #871AE5
    border-radius: 4px
    max-width: 930px
    margin-left: auto
    margin-right: auto
    color: white
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    padding: 60px 25px
    h3
      margin-top: 0

  &__form
    // margin-top: 25px

+r($desktop)
  .cta
    padding-top: 100px
    padding-bottom: 120px

+r($tablet)
  .cta
    &__wrapper
      // text-align: left

+r($mobile)
  .cta
    padding-top: 60px
    padding-bottom: 60px
    background-position: -20% bottom
    background-size: 50%
    &__wrapper
      padding: 40px 25px
      text-align: left
