// FOOTER
.footer
  background: white
  padding: 65px 0
  &__wrapper
    display: flex
    margin-top: 65px
  &__logo
    img
      max-width: 100%

  &__navi
    flex: 0 1 calc(75% + 30px)
    display: flex
    margin-left: -15px
    margin-right: -15px
    &-col
      flex: 0 1 33.3%
      max-width: 33.3%
      min-width: 1px
      min-height: 0
      padding: 0 15px
  h4
    margin-top: 0
    &.mobile-only
      display: none
  &__menu
    margin: 35px 0 20px
    padding: 0
    list-style: none
    li
      display: block
    a
      display: inline-block
      padding: 7px 0
      color: $colorMuted
      font-size: 15px
      transition: color .25s $ease
      &:hover
        color: $colorOrange2

  &__contacts
    flex: 0 0 242px
    margin-left: auto
    padding-left: 30px
    padding-top: 17px
    font-size: 15px
    line-height: 1.5
    p
      margin: 26px 0
      line-height: 1.55
      strong
        font-weight: 500
      &:first-child
        margin-top: 0
      &:last-child
        margin-bottom: 0

  &__bottom
    margin-top: 30px
    display: flex

  &__copy
    font-size: 13px
    color: $colorMuted

  &__socials
    flex: 0 0 242px
    margin-left: auto
    padding-left: 30px
    display: flex
    align-items: center
    a
      display: inline-block
      margin-right: 32px
      // padding: 10px
      color: $colorOrange
      transition: .25s $ease
      &:last-child
        margin-right: 0
      &:hover
        color: $colorOrange2
  &__social
    &-google-plus
      font-size: 18px
      // &:hover
      //   color: $googleplus
    &-facebook
      font-size: 19px
      // &:hover
      //   color: $facebook
    &-twitter
      font-size: 17px
      // &:hover
      //   color: $twitter

+r($desktop)
  /* break contacts to line first
  .footer
    &__wrapper
      flex-wrap: wrap
    &__navi
      flex-basis: calc(100% + 30px)
    &__contacts
      flex: 0 1 calc(100% + 30px)
      padding-left: 0
      display: flex
      margin-left: -15px
      margin-right: -15px
      p
        flex: 0 1 33.3%
        max-width: 33.3%
        min-width: 1px
        padding: 0 15px
        &:first-child
          margin-top: 26px

+r($tablet)
  .footer
    padding: 50px 0 30px
    &__logo
      img
        width: 93px

    &__wrapper
      margin-top: 35px

    &__navi
      display: block
      margin-left: 0
      margin-right: 0
      &-col
        padding-left: 0
        padding-right: 0
        max-width: 100%
        // padding-top: 20px
        border-bottom: 1px solid $colorLightGray
        &:first-child
          border-top: 1px solid $colorLightGray
    h4
      position: relative
      margin: 0
      padding: 1.33em 0
      cursor: pointer
      transition: .25s $ease
      &:hover
        color: $colorOrange2
      &.mobile-only
        display: block
    &__contacts
      display: block
      margin-left: 0
      margin-right: 0
      padding-top: 0
      p
        padding-left: 0
        padding-right: 0
        max-width: 100%
    &__navi-col, &__contacts
      position: relative
      &::after
        display: inline-block
        content: ' '
        position: absolute
        +sprite(footer-nav-arrow)
        right: 12px
        top: 30px
        transition: .25s $ease
        // transform: translateY(-50%)
      &.is-active
        padding-bottom: 25px
        &::after
          transform: rotate(180deg)
    &__menu, &__contacts p
      display: none

    &__menu
      margin: 0

    &__contacts
      border-bottom: 1px solid $colorLightGray

    &__bottom
      margin-top: 45px
      flex-direction: column-reverse

    &__socials
      flex: 0 0 auto
      padding-left: 0
      margin-left: 0

    &__copy
      flex: 0 0 auto
      margin-top: 40px

+r($mobile)
  .footer
    &__menu
      a
        font-size: 13px
    h4
      padding: 1.5em 0
    &__navi-col, &__contacts
      position: relative
      &::after
        top: 28px
