/* HEADER
.header
  position: absolute
  top: 0
  right: 0
  left: 0
  z-index: 10
  background: white
  padding-top: 65px
  &__wrapper
    display: flex
    align-items: center
  &__logo
    flex: 0 0 auto
    font-size: 0
    padding-right: 30px

  &__menu
    flex: 0 1 auto
    display: flex
    align-items: center
    font-size: 15px
    margin: 0
    margin-left: auto
    padding: 0
    list-style: none
    li
      display: inline-block
      margin-right: 65px
      &:last-child
        margin-right: 0
    a
      display: inline-block
      color: $colorMuted
      transition: color .25s $ease
      &:hover
        color: $colorOrange

  &__lang
    flex: 0 0 auto
    display: flex
    align-items: center
    font-size: 13px
    margin: 0
    margin-left: 60px
    padding: 0
    list-style: none
    li
      display: inline-block
      margin-right: 20px
      &:last-child
        margin-right: 0
      &.is-active
        a
          &::after
            right: 0
    a
      position: relative
      display: inline-block
      color: $colorMuted
      padding: 8px 5px
      &::after
        display: inline-block
        content: ' '
        position: absolute
        bottom: 0
        left: 0
        right: 100%
        height: 2px
        background: $colorOrange
        transition: .25s $ease
      &:hover
        &::after
          right: 0

  &__cta
    margin-left: 60px

  &__hamburger
    display: none
    padding-left: 20px


+r($desktop)
  .header
    &__cta
      display: none

+r($tablet)
  .header
    &__menu
      display: none
    &__hamburger
      margin-left: auto
      display: block

+r($mobile)
  .header
    &__logo
      font-size: 30px
