.hero
  background: url('../img/heroBg.png') no-repeat left top
  overflow: hidden
  &--no-bg
    background: none
  &__wrapper
    /* 115 is a header/content offsset
    min-height: calc(100vh - 115px)
    // min-height: 500px
    padding: 80px 0 100px 0
    display: flex
    align-items: center

  &__title
    margin-bottom: 0
    > span
      color: $colorOrange
      white-space: nowrap

  &__content
    position: relative
    z-index: 2
    flex: 0 1 55%
    padding-right: 30px

    &-wrapper
      margin-left: 80px
      max-width: 580px

    .t-p1
      max-width: 500px

  &__image
    position: relative
    z-index: 1
    flex: 0 1 45%
    padding-left: 30px
    display: flex
    flex-direction: column
    pointer-events: none
    // margin-right: -5%
    padding-right: 20px
    img, svg, #include-anim-2
      // max-width: 100%
      max-width: 700px
      transform: translateY(80px)
    &--for3
      padding-left: 0
      #include-anim-3
        max-width: 640px
        margin-left: -60px
        transform: translate(40px,30px)
    &--for4
      padding-left: 0
      #include-anim-4
        max-width: 640px
        transform: translate(15px,30px)
    &--for5
      padding-left: 0
      #include-anim-5
        max-width: 700px
        margin-left: 0px
        margin-left: 10px
        transform: translate(-10px,15px)
    &--for6
      padding-left: 0
      #include-anim-6
        max-width: 800px
        margin-left: 10px
        transform: translate(-10px,30px)
    &--for7
      padding-left: 0
      #include-anim-7
        margin-left: -20px
        // margin-left: 0px
        margin-right: -0px
        max-width: 750px
        transform: translate(40px,30px)
    &--for8
      padding-left: 0
      #include-anim-8
        margin-left: -40px
        margin-right: -0px
        max-width: 770px
        transform: translate(40px,60px)
  &__form
    margin-top: 60px

  &__play
    margin-top: 40px
    display: flex
    align-items: center
    cursor: pointer
    color: $colorOrange
    .ico
      font-size: 24px
      transform: translateY(-2px)
    > span
      display: inline-block
      position: relative
      margin-left: 10px
      font-size: 15px
      line-height: 1.5
      span
        display: inline
        border-bottom: 1px solid transparent
        transition: border .25s $ease
    &:hover
      color: $colorOrange2
      > span
        span
          border-color: rgba($colorOrange2,.2)

+r(1200)
  .hero
    &__content
      &-wrapper
        margin-left: 30px

+r($desktop)
  .hero
    &__wrapper
      padding-top: 40px
      padding-bottom: 50px
      display: block
    &__content
      &-wrapper
        margin-left: 50px
    &__image
      margin-top: 60px
      padding-left: 50px
      padding-right: 25px
      text-align: center
      svg, #include-anim-2
        transform: none
        margin-left: auto
        margin-right: auto
        width: 100%
      &--for3
        padding-left: 50px
        #include-anim-3
          transform: none
          margin-left: auto
          margin-right: auto
          width: 100%
      &--for4
        padding-left: 50px
        #include-anim-4
          transform: none
          margin-left: auto
          margin-right: auto
          width: 100%
      &--for5
        padding-left: 50px
        #include-anim-5
          transform: none
          margin-left: auto
          margin-right: auto
          width: 100%
      &--for6
        padding-left: 50px
        #include-anim-6
          transform: none
          margin-left: auto
          margin-right: auto
          width: 100%
      &--for7
        padding-left: 50px
        #include-anim-7
          transform: none
          margin-left: auto
          margin-right: auto
          width: 100%
      &--for8
        padding-left: 50px
        #include-anim-8
          transform: none
          margin-left: auto
          margin-right: auto
          width: 100%
    &__actionable
      /* copied contents of form and link
      padding-left: 50px
      padding-right: 50px

+r($mobile)
  .hero
    &__wrapper

    &__content
      &-wrapper
        margin-left: 30px

    &__play
      .ico
        font-size: 36px
      > span
        font-size: 13px
    &__image
      padding-left: 30px
      padding-right: 0
      margin-top: 30px
      margin-right: -20px
    &__form
      margin-top: 50px

    &__actionable
      padding-left: 30px
      padding-right: 30px
