.hero
  background: url('../img/heroBg.png') no-repeat left top
  overflow: hidden
  &__wrapper
    /* 115 is a header/content offsset
    min-height: calc(100vh - 115px)
    // min-height: 500px
    padding: 80px 0 100px 0
    display: flex
    align-items: center

  &__title
    margin-bottom: 0
    span
      color: $colorOrange

  &__content
    position: relative
    z-index: 2
    flex: 0 1 55%
    padding-right: 30px

    &-wrapper
      margin-left: 80px
      max-width: 580px

    .t-p1
      max-width: 500px

  &__image
    position: relative
    z-index: 1
    flex: 0 1 45%
    padding-left: 30px
    display: flex
    flex-direction: column
    pointer-events: none
    // margin-right: -5%
    padding-right: 20px
    img, svg
      // max-width: 100%
      max-width: 700px
      transform: translateY(80px)
    iframe
      // transform: scale(2)
      // display: block
      // width: 150%
      // margin-left: -20%
      // flex: 1 0 auto
      // display: flex
      // flex-direction: column
      // overflow: hidden
      // border: 0
      // box-shadow: none
      // margin: 0 auto
  		// transform-origin: 0 0
      // outline: 1px solid $colorOrange

  &__form
    margin-top: 60px

  &__play
    margin-top: 40px
    display: flex
    align-items: center
    cursor: pointer
    color: $colorOrange
    .ico
      font-size: 24px
    span
      display: inline-block
      position: relative
      margin-left: 10px
      font-size: 15px
      &::after
        display: inline-block
        content: ' '
        position: absolute
        bottom: 0
        left: 0
        right: 0
        height: 1px
        background: rgba($colorOrange,.2)
        transition: .25s $ease
      &:hover
        &:after
          right: 100%

+r(1200)
  .hero
    &__content
      &-wrapper
        margin-left: 30px

+r($desktop)
  .hero
    &__wrapper
      padding-top: 40px
      padding-bottom: 50px
      display: block
    &__content
      &-wrapper
        margin-left: 50px
    &__image
      margin-top: 60px
      padding-left: 50px
      padding-right: 25px
      text-align: center
      svg
        transform: none
        margin-left: auto
        margin-right: auto
    &__actionable
      /* copied contents of form and link
      padding-left: 50px
      padding-right: 50px

+r($mobile)
  .hero
    &__wrapper

    &__content
      &-wrapper
        margin-left: 20px
    &__image
      padding-left: 20px
      padding-right: 0

    &__actionable
      padding-left: 20px
      padding-right: 20px
