.how
  margin: 110px 0 0

  &__wrapper
    display: flex
    margin-top: -15px
    margin-left: -15px
    margin-right: -15px

  .section-heading
    display: block
    &--mobile
      display: none
  &__image
    flex: 0 1 50%
    max-width: 50%
    min-width: 1px
    // padding: 53px 15px 87px
    padding: 0px 15px 87px
    // background: url('../img/howBg.png') no-repeat
    // background-position: -50px top
    // overflow: hidden

    .section-heading
      margin-bottom: 50px
      h2
        margin-top: 0
    &--mobile
      display: none
    &-wrapper
      display: flex
      flex-direction: column
      padding: 20px 0
    .svg-animation-container
      position: relative
      padding-top: 45px
      &::before
        display: inline-block
        content: ' '
        position: absolute
        z-index: 1
        left: -95px
        top: -10px
        size: 658px 510px
        background: url('../img/howBg.png') no-repeat
        background-position: left top

    #include-anim-1
      width: 80%
    svg
      position: relative
      z-index: 2
      width: 80%
      overflow: visible
    svg
      margin-top: -20%
      margin-bottom: -15%
    .animation-icons
      transition: all .1s ease

  &__content
    flex: 0 1 50%
    max-width: 50%
    min-width: 1px
    padding: 0 15px
    padding-bottom: 70px
    margin-top: 100px

  &__section
    margin: 170px 0
    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0
    h2
      // line-height: .9
      font-weight: 500
      // margin-bottom: 1.2em
      margin-bottom: .9em
    h2, p
      max-width: 450px

  &__facts-grid
    display: flex
    flex-wrap: wrap
    margin-left: -15px
    margin-right: -15px
    margin-bottom: 200px
  &__fact
    flex: 0 1 50%
    max-width: 50%
    min-width: 1px
    margin-bottom: 40px
    padding: 0 15px

    h2, p
      max-width: 240px

  &__results-grid
    display: flex
    flex-wrap: wrap
    margin-left: -10px
    margin-right: -10px
    max-width: 575px
    padding-top: 10px
    // margin-bottom: 200px
  &__result
    flex: 0 1 33.3%
    max-width: 33.3%
    min-width: 1px
    margin-bottom: 20px
    padding: 0 10px


+r($desktop)
  .how
    margin: 80px 0 0
+r(860)
  .how
    margin-top: 50px
    &__wrapper
      display: block
    .section-heading
      display: none
      &--mobile
        display: block

    &__image
      display: none
      max-width: 100%
      padding: 0 0 20px
      &--mobile
        display: block

    &__content
      max-width: 100%
      padding-top: 40px
      padding-bottom: 40px
      margin-top: 0

    &__section
      margin: 70px 0
      &:first-child
        margin-bottom: 0
      h2
        margin-bottom: 1em

    &__facts-grid
      margin-bottom: 0

    &__fact
      margin-bottom: 25px


+r($mobile)
  .how
    &__image
      .svg-animation-container
        padding-top: 25px
        &::before
          background-size: 75%
      #include-anim-1, svg
        width: 90%
        margin-left: auto
        margin-right: auto
    &__content
      padding-top: 30px
    &__results-grid
      flex-direction: column
      margin-left: 0
      margin-right: 0
      padding-top: 20px
      padding-left: 50px
    &__result
      flex: 0 0 auto
      max-width: 100%
      margin-bottom: 15px
      p
        max-width: 150px
