// INDEX

.section-heading
  max-width: 580px
  h2
    // line-height: .9
    line-height: 1.2
    // margin-bottom: 1.1em
    margin-bottom: .5em
  p
    max-width: 530px
  &--centered
    max-width: 100%
    text-align: center
    p
      max-width: 100%


/* swieper nav
.swiper-nav
  max-width: 500px
  margin-left: auto
  display: flex
  align-items: center
  justify-content: flex-end
  padding-right: 50px
  padding-top: 20px
  color: white

  &__fraction
    flex: 0 0 auto
    width: auto
    font-size: 15px
    color: white

  &__progress
    flex: 1 1 auto
    position: relative
    background: rgba(white, .3)
    height: 1px
    margin: 0 40px
    width: 270px
    overflow: hidden
    &-fill
      display: inline-block
      position: absolute
      left: 0
      right: 0
      top: 0
      height: 1px
      background: white
      transition: transform .1s linear

  &__navigation
    flex: 0 0 auto
    display: flex
    align-items: center

  &__navigation-prev, &__navigation-next
    padding: 8px 12px
    cursor: pointer
    transition: .25s $ease
    .ico
      font-size: 12px

  &--orange
    color: $colorOrange
    transform: translateX(30px)
    .swiper-nav
      &__fraction
        color: $colorOrange
      &__progress
        background-color: rgba($colorOrange, .4)
        &-fill
          background-color: $colorOrange

+r($mobile)
  .swiper-nav
    padding-right: 0
    padding-left: 50px
    &__fraction
      font-size: 13px
    &__navigation
      display: none
    &__progress
      margin-right: 0


.label
  display: inline-block
  font-size: 10px
  font-weight: 500
  color: white
  border-radius: 2px
  text-transform: uppercase
  padding: 6px 8px 4px
  line-height: 1
  letter-spacing: 0.1em
  &--popular, &--orange
    background: $colorOrange
  &--blue
    background: $colorBlue
  &--green
    background: $colorGreen


/* List
.list-num
  list-style: none
  margin: 60px 0 0
  padding: 0
  li
    position: relative
    display: block
    counter-increment: item
    padding-left: 55px
    margin-bottom: 45px
    h3, h4
      margin-top: 0
    &:last-child
      margin-bottom: 0
    &::after
      display: inline-block
      content: ' '
      position: absolute
      left: 0
      top: -4px
      content: counter(item)
      background: #FF5719
      border-radius: 4px
      color: white
      size: 24px
      font-size: 15px
      line-height: 26px
      font-weight: 500
      text-align: center
      overflow: hidden

/* List
.list-mark
  list-style: none
  margin: 0px 0 0
  padding: 0
  li
    position: relative
    display: block
    padding-left: 25px
    margin-bottom: 8px
    font-size: 15px
    color: $colorMuted
    line-height: 1.53
    &::after
      display: inline-block
      content: ' '
      position: absolute
      left: 0
      top: 2px
      color: white
      z-index: 2
      +sprite('check')
  &--boxed
    li
      padding-left: 45px
      margin-bottom: 22px
      &::after
        display: none
      h3, h4
        position: relative
        &::before
          display: block
          content: ' '
          background: #FF5719
          border-radius: 4px
          color: white
          size: 20px
          position: absolute
          left: -45px
          top: 0
          z-index: 1
        &::after
          display: inline-block
          content: ' '
          position: absolute
          filter: brightness(0) invert(100%)
          left: -40px
          top: 5px
          color: white
          z-index: 2
          +sprite('check')
    &.list-mark--no-heading
      li
        &::before
          display: block
          content: ' '
          background: #FF5719
          border-radius: 4px
          color: white
          size: 20px
          position: absolute
          left: -0px
          top: 0
          z-index: 1
        &::after
          display: inline-block
          content: ' '
          position: absolute
          filter: brightness(0) invert(100%)
          left: 5px
          top: 5px
          color: white
          z-index: 2
          +sprite('check')

  &--row
    display: flex
    margin-right: -30px
    li
      padding-right: 30px
      margin-bottom: 0
      h3, h4
        margin-top: 0
        margin-bottom: 1em
        +r($mobile)
          margin-bottom: .5em
    &[data-cols="3"]
      li
        flex: 0 1 33.3%
        max-width: 33.3%
        min-width: 1px
        h3, h4, p
          max-width: 246px
      +r($desktop)
        justify-content: center
        flex-wrap: wrap
        li
          flex: 0 1 50%
          max-width: 50%
          // display: flex
          margin-bottom: 40px
          &:last-child
            margin-bottom: -0px
          &:nth-child(2)
            h3, h4, p
              margin-left: auto
          &:nth-child(3)
            h3, h4, p
              margin-left: auto
              margin-right: auto
      +r($mobile)
        display: block
        margin-left: 0
        margin-right: 0
        li
          max-width: 100%
          margin-left: auto
          margin-right: auto
          // padding: 0
          padding-right: 0
          margin-bottom: 35px
          &:nth-child(2), &:nth-child(3)
            h3, h4, p
              margin-left: 0
              margin-right: 0
          h3, h4, p
            max-width: 255px
