.service-features
  position: relative
  z-index: 2
  padding: 120px 0 0px 0
  h2
    text-align: center
  &__wrapper
    max-width: 930px
    margin-left: auto
    margin-right: auto
    .list-mark
      margin-top: 60px


.f-product
  background: linear-gradient(-180deg, #FFFFFF 0%, #FAFAFA 29%)
  padding-top: 100px
  overflow: hidden
  &--more-pad
    padding-top: 140px

.f-product-box
  background: white
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.05)
  border-radius: 4px
  margin-bottom: 100px
  padding: 85px 80px 60px
  // overflow: hidden

  &__wrapper
    display: flex
    margin-left: -15px
    margin-right: -15px

  &__left, &__right
    position: relative
    flex: 0 1 50%
    max-width: 50%
    min-width: 1px
    min-height: 0
    padding: 0 15px
  &__left
    /* image offset just in case
    padding-bottom: 80px
    h2
      margin-top: 0
    .t-p1
      margin-top: -.5em
      max-width: 290px
  &__right
    padding-top: 60px
    .t-p2
      max-width: 450px
    .t-p3
      margin-top: 40px
      line-height: 1
    h4
      max-width: 330px
      margin-bottom: 0

  &__pixel-img
    position: absolute
    bottom: -140px
    right: 15px
    pointer-events: none
    img
      max-width: 100%
    &--mobile
      display: none


.f-products-benefits
  position: relative
  padding: 100px 0 80px 0
  > .container
    position: relative
    z-index: 2
  &__bg
    position: absolute
    left: 0
    bottom: 0
    font-size: 0
  &__wrapper
    display: flex
    margin-left: -15px
    margin-right: -15px
  &__left
    flex: 0 1 44%
    max-width: 44%
    min-width: 1px
    padding: 0 15px
    h2
      margin-top: 0
      max-width: 370px
    &--wider
      margin-bottom: 40px
      h2
        max-width: 450px
    &--centered
      // margin-bottom: 60px
      h2
        margin-left: 50px
        max-width: 290px

  &__right
    flex: 0 1 56%
    max-width: 56%
    min-width: 1px
    padding: 0 15px

  &__list
    display: flex
    justify-content: space-between
    margin-left: -15px
    margin-right: -15px

  &__col
    flex: 0 1 320px
    padding: 0 15px
    h4, h3, p
      max-width: 290px
    h4, h3
      margin-bottom: 1.2em
      margin-top: 0
      padding-right: 10px
      span
        position: relative
        &::after
          display: inline-block
          content: ' '
          position: absolute
          bottom: 4px
          right: -34px
          width: 24px
          height: 2px
          background: $colorPurple


+r($desktop)
  .service-features
    padding-top: 100px

  .f-product
    padding-top: 80px
    &--more-pad
      padding-top: 110px

  .f-products-benefits
    padding: 50px 0 70px 0
    &__wrapper
      display: block
      margin-left: 0
      margin-right: 0
    &__left, &__right
      max-width: 100%
      padding: 0
    &__left
      padding-bottom: 40px
      &--centered
        h2
          margin-left: 0
    &__bg
      display: none

+r(850)
  .f-product-box
    position: relative
    padding: 55px 50px 80px
    &__wrapper
      // position: relative
      display: block
      margin-left: 0
      margin-right: 0
    &__left, &__right
      position: static
      max-width: 100%
      padding-left: 0
      padding-right: 0
    &__left
      padding-bottom: 0px
    &__right
      padding-top: 0px
      padding-bottom: 0px
    &__pixel-img
      display: none
      &--mobile
        display: block

      bottom: auto
      right: 40px
      bottom: -95px
      // t
      text-align: right
      img
        max-width: 80%

+r($mobile)
  .service-features
    padding-top: 80px
    h2
      text-align: left

  .f-product
    padding-top: 50px
    &--more-pad
      padding-top: 70px

  .f-product-box
    padding: 40px 25px 60px
    &__pixel-img
      bottom: -65px
      right: 15px
      img
        max-width: 55%

  .f-products-benefits
    padding-bottom: 80px
    &__bg
      display: none
    &__left
      padding-bottom: 30px
      h2
        margin-right: -10px

    &__list
      display: block
      margin-left: 0
      margin-right: 0
    &__col
      padding: 0
      margin-bottom: 35px
      &:last-child
        margin-bottom: 0
