.service-num
  position: relative
  z-index: 2
  padding: 95px 0 90px
  background: #EEEEEE
  .container
    position: relative
  &__wrapper
    display: flex
    justify-content: space-between
    margin-left: -15px
    margin-right: -15px
  &__col
    flex: 0 1 28%
    max-width: 28%
    min-width: 1px
    min-height: 0
    padding: 15px
  &__el
    max-width: 210px
    p
      margin: 0
  &__title
    font-size: 50px
    color: $colorGreen
    font-weight: 500
    line-height: 1.2
    letter-spacing: -.046em
    +text-overflow
    span
      font-size: 23px
      letter-spacing: -0.022em

  &__bg-image
    position: absolute
    right: -30px
    bottom: -140px
