.testimonials
  padding: 0px 0
  margin: 100px 0 0
  > .container
    &:first-child
      position: relative
      &::after
        display: block
        content: ' '
        background: $colorBlue
        height: 4px
        position: absolute
        left: 50px
        right: 50px
        top: 0
  &__head
    padding-top: 80px
    display: flex
    align-items: center
    margin-left: -15px
    margin-right: -15px
    &-image
      flex: 0 0 auto
      padding: 0 15px
      margin-left: auto
      padding-top: 10px
      svg, img
        max-width: 100%
  &__title
    flex: 0 1 auto
    padding: 0 15px
    h2
      max-width: 550px
      line-height: .9

  &__wrapper
    margin-top: 100px
    margin-bottom: 60px
    padding-left: 200px
    padding-right: 110px
  &__slider
    position: relative
    height: 100%

  &__logos-grid
    position: relative
    display: flex
    align-items: center
    justify-content: space-between
    padding-top: 60px
    margin-left: -10px
    margin-right: -10px
    &::before
      display: inline-block
      content: ' '
      position: absolute
      left: 10px
      right: 10px
      height: 1px
      top: 0
      background: $colorLightGray
  &__logo
    flex: 0 1 auto
    padding: 10px
    display: flex
    align-items: center
    img
      max-width: 100%

.testimonials-card
  position: relative
  flex: 0 0 auto
  min-width: 1px
  min-height: 0
  height: auto!important
  // height: 100px
  // max-width: 370px
  &__quotemark
    // position: absolute
    // left: 0
    // top: 0
    font-size: 37px
    color: $colorPurple

  &__content
    padding-left: 40px

  &__author
    margin-top: 25px
    color: $colorMuted
    font-size: 15px
    span
      font-weight: 500

  &__link
    display: inline-block
    margin-top: 5px
    font-size: 13px
    color: $colorOrange
    transition: color .25s $ease
    &:hover
      color: $colorOrange2

  &__logo
    margin-top: 20px
    img
      max-width: 100%


+r(1200)
  .testimonials
    &__head
      margin-left: 30px

+r($desktop)
  .testimonials
    margin-top: 80px
    &__wrapper
      margin-top: 20px
      padding-left: 120px
      margin-bottom: 40px
    &__head
      padding-top: 50px
      margin-left: 0
      margin-right: 0
      flex-direction: column
      align-items: flex-start
      &-image
        padding: 20px 0 0
    &__title
      padding: 0

+r(860)
  .testimonials
    &__logos-grid
      flex-wrap: wrap
      padding-top: 40px
      justify-content: center

    &__logo
      flex: 0 1 150px
      img
        text-align: center
        margin-left: auto
        margin-right: auto

+r($tablet)
  .testimonials
    &__wrapper
      padding-left: 0px
      padding-right: 0


+r($mobile)
  .testimonials
    margin-top: 40px
    > .container
      &:first-child
        position: relative
        &::after
          left: 30px
          right: 30px
    &__head
      // padding-top: 35px
      &-image
        max-width: 140px
        transform: translateX(40px)
    &__title
      h2
        line-height: 1.1

    &__slider
      margin-top: -35px

    &__logos-grid
      // todo
    &__logo
      flex-basis: 100px
      padding: 5px 5px
      img
        max-width: 80%

  .testimonials-card
    &__quotemark
      font-size: 27px
    &__content
      padding-left: 0
    &__logo
      // margin-top: 5px
