.ico-arrow {
  width: 1.75em;
  height: 1em;
  fill: #FF5719;
}
.ico-checkmark {
  width: 1.38em;
  height: 1em;
  fill: #FF5824;
}
.ico-close {
  width: 1em;
  height: 1em;
  fill: #979797;
}
.ico-mail {
  width: 1.22em;
  height: 1em;
  fill: #DDD;
}
.ico-play {
  width: 1em;
  height: 1em;
  fill: #F97515;
}
.ico-quotemark {
  width: 1.39em;
  height: 1em;
  fill: #871AE5;
}
.ico-social-facebook {
  width: 1em;
  height: 1em;
  fill: #FF5719;
}
.ico-social-googleplus {
  width: 1.61em;
  height: 1em;
  fill: #FF5719;
}
.ico-social-twitter {
  width: 1.18em;
  height: 1em;
  fill: #FF5719;
}
